@font-face {
  font-family: Play;
  src: url("../../fonts/Play/Play-Regular.ttf");
}

@font-face {
  font-family: ShareTechMono;
  src: url("../../fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

* {
  font-family: Play, sans-serif;
  color: #00ff00;
}

html {
  background-image: url("../images/fight_bkg.png");
  background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

body {
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  margin: auto;
  padding: 2em;
  box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.25);
  border: 2px solid #00ff00;
  border-radius: 2em;
}

code {
  font-family: ShareTechMono, monospace;
  color: #00ff00;
  background-color: black;
  border-radius: 2px;
  padding: 3px;
}

kbd {
  font-family: Play, sans-serif;
  padding: 4px;
  border: 1px solid #00ff00;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 255, 0, 0.2);
}

#hud-overview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.25);
}

table {
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.25);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid #00ff00;
  padding: 0.25em;
}
